* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    font-size: 12px;

}

h1 {
    text-align: center;
    font-size: 4rem;
    opacity: 0.7;

}

.container {
    border: 5px solid black;
    width: 80%;
    height: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: wrap;*/
    justify-content: en;
    align-items: center;
    

}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-size: 4rem;
    text-align: center;

}

.uno{
    background-color: lightblue;
    flex-shrink: 1;
}

.dos{ 
    background-color: aquamarine;
    align-self: flex-start;
}

.tres{
    background-color: chocolate;
}

.cuatro{
    background-color: blueviolet;
}

.cinco{
    background-color: yellow;
    flex-grow: 2;
}

.seis{
    background-color: tomato;
    flex-grow: 1;
}

