*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 186, 230);
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: rgb(238, 210, 159);
}

h1 {
    color: rgb(74, 74, 134);
    font-size: 3em;
}

ul {
    text-decoration: none;list-style: none;
}
li {
    display: flex;
    justify-content: stretch;
    margin: 5 0 5;
    font-size: 2em;
    background-color: rgb(88, 72, 72);
    color: aliceblue;
}

.texto-marron{
    color: brown;
}